{{canvas-toolbar handleClick = (action 'handleToolbarButton')
onColor = (action 'handleToolbarColor')
}}

{{index-presentation-title presentation = model.presentation}}

{{slide-list-component
slides=model.presentation.layouts
handleSlideClick = (action 'handleLayoutClick')
addEmptySlide = (action 'addEmptyLayout')
removeSlide = (action 'removeLayout')}}

<div class="canvas-slide">
  {{outlet}}
</div>

{{canvas-panel-properties
  clickPrototype =(action 'handlePrototypeClick')
  onColorChange=(action 'handlePanelColorChange')
}}
